<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Módulos</mat-toolbar>
    <mat-nav-list>
      <!-- Menú principal -->
      @for (module of mainModules; track module.path) {
        <a mat-list-item [routerLink]="module.path">{{ module.title }}</a>
      }

      <!-- Menú específico para la ruta actual -->
      @if (hasSpecificMenu()) {
        <div class="module-submenu">
          <mat-toolbar class="submenu-header">Unidades de {{ getModuleTitle() }}</mat-toolbar>
          @for (lesson of getCurrentLessons(); track lesson.path) {
            <a mat-list-item [routerLink]="lesson.path">{{ lesson.title }}</a>
          }
        </div>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- Resto del contenido del toolbar -->
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet />

  </mat-sidenav-content>
</mat-sidenav-container>
